div.box, div.cell {
    display: inline-block;
}

div.box {
    border: 2px solid black;
    margin: 3px;
}

.cell input {
  width: 30px;
  height: 30px;
  font-size: 15px; 
  text-align: center;
}

#sudoku {
  font-size: 0;    
  text-align: center;
}

body {
  text-align: center;
  font-family: Helvetica;
  color: white;

  background: #70bf32;
  background: url('linear-gradient.png') 0 0 repeat-x;
  background: -webkit-linear-gradient(#29DBFF, #FF66E6);
  background:     -ms-linear-gradient(#29DBFF, #FF66E6);
  background:      -o-linear-gradient(#29DBFF, #FF66E6);
  background:         linear-gradient(#29DBFF, #FF66E6);
}

.incorrect {
  background-color: yellow;
}

.value-provided {
  background-color: #DDD;
}

#flash {
  margin: 20px;
}

#buttons{
  margin-top: -55px;
}

#buttons form {
  display: inline;
  padding-bottom: -250px;  
}

.check_button {
padding-top: 50px;
  
}
.check_button form {
display: inline;
  
}
