div.box, div.cell {
    display: inline-block;
}

div.cell {
    border: 2px solid green;
    margin: 5px;
}


.cell input {
  width: 30px;
  height: 30px;
  font-size: 15px; 
  text-align: center;
}


#sudoku {
  font-size: 0;    
  text-align: center;
}

body {
  text-align: center;
  font-family: Helvetica;
}

.incorrect {
  background-color: yellow;
}

.value-provided {
  background-color: #DDD;
}
